@import url('https://fonts.googleapis.com/css?family=Inconsolata|Indie+Flower|Pacifico|Sigmar+One|Teko&display=swap');

/* index page  */
/* image and buttons */
body{
    background-color: silver;
}

#navbar button{
    margin-left: 25px;
    text-decoration: none;
    font-size: 25px;
}

.home button {
    color: blue;
}
.about button {
    color: hotpink;
}
.studies button {
    color: yellowgreen;
}
.links button {
    color: red;
}

.header{
    background-image: url(/img/profbackground.jpg);
    min-height: 200px;
    background-position: center;
    padding: 30px;
    background-repeat: repeat, repeat, repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* image and buttons */

/* kirsty portfolio */
h1 {     
    font-family: monospace;
    font-size: 50px;
    display: flex;
    display: contents;
    color: rgb(255, 0, 51);
} 
/* kirsty portfolio */

p {
    color: black;
    font-size: 20px;
    font-family: fantasy;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
}

h2 {
    color: rgb(45, 0, 245);
    font-family: 'Inconsolata', monospace;
    padding: 10px;
}
.top{
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-top: 18px;
    border-style: solid ;
    border-color:lawngreen;
    border-radius: 18px;
}
.box{
    width: 33.3333%;
    text-align: left;
}

.food {
    color: rgb(201, 40, 134);
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
} 
.seasons {
    color: rgb(228, 80, 43);
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}
.join {
color: rgb(47, 121, 41);
}
.target {
    color: rgb(134, 40, 134);
}
.jo{
    padding-top: 18px;
    border-style: solid ;
    border-color: magenta;
    border-radius: 18px;
}
.targ{
    padding-top: 18px;
    border-style: solid ;
    border-color: lawngreen;
    border-radius: 18px;
}

/* index page */

/* page 1 */


.me {
    color: crimson;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/profbackground.jpg);
    background-repeat: repeat, repeat, repeat;
    min-height: 150px;
    background-position: center;
    padding: 30px;
}
.in button {
    color: blue;
}
.pag button {
    color: hotpink;
}
.pug button {
    color: lawngreen;
}
.ex button {
    color: orangered;
}
.one{
    padding-top: 18px;
    border-style: solid ;
    border-color: magenta;
    border-radius: 18px;
}
.two{
    padding-top: 18px;
    border-style: solid ;
    border-color: lawngreen;
    border-radius: 18px;
}
.three{
    padding-top: 18px;
    border-style: solid ;
    border-color: magenta;
    border-radius: 18px;
}
.four{
    padding-top: 18px;
    border-style: solid ;
    border-color: lawngreen;
    border-radius: 18px;
}
.five{
    padding-top: 18px;
    border-style: solid ;
    border-color: magenta;
    border-radius: 18px;
}
/* studies and info page */

.dex button {
    color: blue;
    font-size: 25px;
}
.kirst button {
    color: hotpink;
    font-size: 25px;
}
.info button {
    color: lawngreen;
    font-size: 25px;
}
.exlink button {
    color: orangered;
    font-size: 25px;
}
/* .cod {
    text-align: center;
} */
.nation{
    background-image: url(./img/codenation.png);
    background-repeat: repeat, repeat,repeat, no-repeat;
    height: 160px;
    width: 1450px;
}
.six{
    padding-top: 18px;
    border-style: solid ;
    border-color: magenta;
    border-radius: 18px;
}
.seven{
    padding-top: 18px;
    border-style: solid ;
    border-color: lawngreen;
    border-radius: 18px;
}
.eight{
    padding-top: 18px;
    border-style: solid ;
    border-color: magenta;
    border-radius: 18px;
}
.nine{
    padding-top: 18px;
    border-style: solid ;
    border-color: lawngreen;
    border-radius: 18px;
}
.ten{
    padding-top: 18px;
    border-style: solid ;
    border-color: magenta;
    border-radius: 18px;
}
.eleven{
    padding-top: 18px;
    border-style: solid ;
    border-color: lawngreen;
    border-radius: 18px;
}
.twelve{
    padding-top: 18px;
    border-style: solid ;
    border-color: magenta;
    border-radius: 18px;
}
.thirteen{
    padding-top: 18px;
    border-style: solid ;
    border-color: lawngreen;
    border-radius: 18px;
}
.fourteen{
    padding-top: 18px;
    border-style: solid ;
    border-color: magenta;
    border-radius: 18px;
}
/* external links page */


.hm button {
    color: blue;
    font-size: 25px;
}
.kst button {
    color: hotpink;
    font-size: 25px;
}
.stud button {
    color: lawngreen;
    font-size: 25px;
}
.xlink button {
    color: orangered;
    font-size: 25px;
}
.ghub{
    border-style: solid;
    border-color: magenta;
    border-radius: 18px;
    padding-top: 18px;
    padding-left: 18px;
}
.linkedIn {
    padding-top: 18px;
    border-style: solid ;
    border-color: lawngreen;
    border-radius: 18px;
    padding-left: 18px;
}
.cnation{
    border-style: solid;
    border-color: magenta;
    border-radius: 18px;
    padding-top: 18px;
    padding-left: 18px;
}